$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  padding:6px;
  letter-spacing: 1px;
}

$base-color: #c6538c;
$border-dark: rgba($base-color, 0.88);

.alert {
  border: 1px solid $border-dark;
  display:inline-block;
  
}
/*sass inheritance*/
.linking
{
@extend .alert;
background-color: bisque;



}  

/*sass nesting*/
div {
    font-size: 14px;
    p {
        color:sandybrown;
    }
}

img {
    border:4px solid black
}   

/* unvisited link */
a:link {
    color:aqua;
  }
  
  /* visited link */
  a:visited {
    color: rgb(231, 63, 175);
  }
  
  /* mouse over link */
  a:hover {
    color: red;
  }
  
  /* selected link */
  a:active {
    color: yellow;
  }

